{% extends "template_base.html"%}
{% block content %}
<div class="container">
    <form action="/" method="POST" name='reservas'>
        <div class="row">
            {% if error is defined %}
            <div class="alert alert-danger m-5" role="alert">
                {{ error }}
            </div>
            {% endif %}
            {% if success is defined %}
            <div class="alert alert-success m-5" role="alert">
                {{ success }}
            </div>
            {% endif %}
            <div class="col-sm-4">
                <legend>Reserva de Pista</legend>
                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Dia de la setmana:</label>
                    <select id="disabledSelect" class="form-select" name="dia">
                        {% for dia in dies_hores[0] %}
                        <option value="{{ dia }}">{{ dia }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Hora de Reserva</label>
                    <select id="disabledSelect" class="form-select" name="hora">
                        {% set count = namespace(value=0) %}
                        {% for hora in dies_hores[1] %}
                        <option value="{{ count.value }}">{{ hora }}</option>
                        {% set count.value = count.value + 1 %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="instalacio" value="coberta" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Instal·lació Coberta
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="instalacio" value="exterior">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Instal·lació Exterior
                    </label>
                </div>
            </div>
            <div class="col-sm-7">
                <legend>Dades Personals</legend>
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom Complet</label>
                    <input type="text" class="form-control" name="nom" id="nom">
                </div>
                <div class="mb-3">
                    <label for="telefon" class="form-label">Telèfon</label>
                    <input type="text" class="form-control" name="telefon" id="telefon">
                </div>
            </div>
            <div class="container bg-light">
                <div class="col-md-12 text-center">
                    
                    <button type="submit" class="btn btn-primary">Reservar</button>
                </div>
            </div>
    </form>
            
</div>

</div>
{% endblock %}

